{% extends "base.html" %}
{% block title %}Add Book{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Add book</h1>
</div>
<div style="max-width : 400px">
  <form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.isbn.label }}<br>
      {{ form.isbn(size=32, class="form-control") }}<br>
      {% for error in form.isbn.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    </div>
    <p>
      {{ form.title.label }}<br>
      {{ form.title(size=32, class="form-control") }}<br>
      {% for error in form.title.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.author.label }}<br>
      {{ form.author(size=32, class="form-control") }}<br>
      {% for error in form.author.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.pubdate.label }}<br>
      {{ form.pubdate(size=32, class="form-control") }}<br>
      {% for error in form.pubdate.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit(class="btn btn-primary mb-2") }}</p>
  </form>
</div>
{% endblock %}