{% extends "base.html" %}
{% block title %}Edit Book{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Edit book</h1>
</div>
  <form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.isbn.label }}<br>
      {{ form.isbn(size=32) }}<br>
      {% for error in form.isbn.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.title.label }}<br>
      {{ form.title(size=32) }}<br>
      {% for error in form.title.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.author.label }}<br>
      {{ form.author(size=32) }}<br>
      {% for error in form.author.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.pubdate.label }}<br>
      {{ form.pubdate(size=32) }}<br>
      {% for error in form.pubdate.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}